{% extends "base_back.html" %}

{% block scripts -%}
    {{ super() }}
    <script src="{{ url_for('static', filename='platform_projects.js') }}"></script>
{%- endblock scripts %}

{% block content_header %}
    <h1>Project Detail - {{ project_name }}</h1>
    <div class="input-group col-md-3" style="float: right;margin-top:-30px">
        <input type="text" id="searchString" class="form-control" placeholder="Please enter keywords">
        <span class="input-group-btn">
                   <button class="btn btn-info" id="searchButton">Search</button>
                   <button class="btn btn-success" style="margin-left:3px" data-toggle="modal"
                           data-target="#deployModal">Deploy</button>
                </span>
    </div>
{% endblock %}

{% block content_body %}
    <!--list-->
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Projects</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body table-responsive">
            <table class="table table-striped">
                <thead id="tHead">
                <tr>
                    <th style="width: 80px">Index</th>
                    <th style="width: 120px">ProjectName</th>
                    <th style="width: 120px">VersionName</th>
                    <th style="width: 120px">SpidersCount</th>
                    <th style="width: 120px">Operation</th>
                </tr>
                </thead>
                <tbody id="tBody" data-id="{{ project_id }}"></tbody>
            </table>
        </div>
    </div>
    <!--modal-->
    <div class="modal fade" role="dialog" id="deployModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="{{ url_for('project.project_deploy') }}" method="post" enctype=multipart/form-data>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span></button>
                        <h4 class="modal-title">Project Deploy</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="egg_file">Upload EGG file</label>
                            <input type="file" accept=".egg,.cfg" name="file" id="egg_file">
                            <!--<input type="file" id="file_input" multiple="multiple" webkitdirectory directory/>-->
                            <p class="help-block">Use
                                <a href="https://github.com/scrapy/scrapyd-client" target="_blank">scrapyd-client</a>
                                to generate egg file <code>scrapyd-deploy --build-egg output.egg</code></p>
                        </div>
                        <div class="form-group">
                            <label for="project_name">Project Name</label>
                            <input type="text" name="project_name" id="project_name" class="form-control"
                                   placeholder="Project Name 3-50个字符（字母/数字/下划线）"
                                   required="required" pattern="^\w{3,50}$"
                                   value="{{ project_name }}"
                            >
                        </div>
                        <div class="form-group">
                            <label for="version_name">Version Name</label>
                            <input type="text" name="version_name" id="version_name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="recipients">Recipients</label>
                            <input type="text" name="recipients" id="recipients" class="form-control">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
{% endblock %}

{% block script %}
    <script>
        //初始化，document加载完成后执行
        $(function () {
            pageSearchDetail(null);
            $('#searchButton').on('click', pageSearchDetail);
            $('#pageSize').change(pageSearchDetail);
            $('#deployModal').on({
                'hide.bs.modal': function () {
                    // 关闭时还原为add状态Create Client
                    let modal = $(this);
                    modal.find("#egg_file").val(null);
                    modal.find("#version_name").val(null);
                    modal.find("#recipients").val(null);
                }
            });
        });
    </script>
{% endblock %}